{{ partial "header.html" . }}
<div class="content single layout-menu">
  <div class="body">
    {{ .Content }}
    <h1 class="title menu-title lunch-menu">Lunch Menu</h1>
    {{ range $.Site.Data.lunch.categories }}
      {{ partial "menu.html" . }}
    {{ end }}
    <h1 class="title menu-title dinner-menu">Dinner Menu</h1>
    {{ range $.Site.Data.dinner.categories }}
      {{ partial "menu.html" . }}
    {{ end }}
    <h1 class="title menu-title wines-menu">Wines Menu</h1>
    {{ range $.Site.Data.wines.categories }}
      {{ partial "menu.html" . }}
    {{ end }}

    <div class="menu-notice">All published prices are subject to change without notice.</div>
  </div>
</div>
{{ partial "footer.html" . }}